 <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top shadow">
  <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="/">75th IC Overview</a>
  <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="/unit_comparison">Unit Comparison</a>
  <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="/soldier_search">Data Table</a>
  <a class="navbar-brand ml-auto mr-1" href="/" >
            <img src="/static/75th_ic_color.png" alt="" height=42>
          </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation"></button>
</nav>
